Repository IntersectMBO/ouroboros-consensus, pull requests merged in 2025-01, with the labels that each got.

#1179 Full rework of the BlockFetch logic for bulk sync mode
  cabal.project
  ouroboros-consensus-diffusion/changelog.d/20240807_100458_alexander.esgen_milestone_1.md
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/Node/Genesis.hs
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/Node/Tracers.hs
  ouroboros-consensus-diffusion/src/ouroboros-consensus-diffusion/Ouroboros/Consensus/NodeKernel.hs
  ouroboros-consensus-diffusion/src/unstable-diffusion-testlib/Test/ThreadNet/Network.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Setup.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Setup/GenChains.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/CSJ.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/DensityDisconnect.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/LoE.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/LoP.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/LongRangeAttack.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/Genesis/Tests/Uniform.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/BlockFetch.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/CSJInvariants.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/ChainSync.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/NodeLifecycle.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Resources.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Run.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Tests/LinkedThreads.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Tests/Rollback.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Tests/Timeouts.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PeerSimulator/Trace.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PointSchedule.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PointSchedule/Peers.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PointSchedule/Shrinking.hs
  ouroboros-consensus-diffusion/test/consensus-test/Test/Consensus/PointSchedule/Shrinking/Tests.hs
  ouroboros-consensus/changelog.d/20240807_095933_alexander.esgen_milestone_1.md
  ouroboros-consensus/ouroboros-consensus.cabal
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Genesis/Governor.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/MiniProtocol/BlockFetch/ClientInterface.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/MiniProtocol/ChainSync/Client/Jumping.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/MiniProtocol/ChainSync/Client/State.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/API.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Background.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Query.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Storage/ChainDB/Impl/Types.hs
  ouroboros-consensus/src/ouroboros-consensus/Ouroboros/Consensus/Util/Orphans.hs
  ouroboros-consensus/test/consensus-test/Test/Consensus/MiniProtocol/BlockFetch/Client.hs
  ouroboros-consensus/test/consensus-test/Test/Consensus/MiniProtocol/ChainSync/Client.hs
  ouroboros-consensus/test/storage-test/Test/Ouroboros/Storage/ChainDB/StateMachine.hs
Labels: Genesis

#1352 Shelley mempool per-tx size check: do not include `perTxOverhead`
  ouroboros-consensus-cardano/changelog.d/20250107_124744_alexander.esgen_shelley_mempool_txsize_check.md
  ouroboros-consensus-cardano/src/shelley/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
Labels: component-mempool

#1354 Release Consensus packages for Node 10.2.0
  README.md
  ouroboros-consensus-cardano/CHANGELOG.md
  ouroboros-consensus-cardano/changelog.d/20240927_125151_damian.nadales_1260_remove_cdbFutureBlocks.md
  ouroboros-consensus-cardano/changelog.d/20241014_170244_alexander.esgen_cardano_hf_trigger.md
  ouroboros-consensus-cardano/changelog.d/20241021_094824_coot_typed_protocols_new_api.md
  ouroboros-consensus-cardano/changelog.d/20241022_125701_alexander.esgen_simplify_praos_params.md
  ouroboros-consensus-cardano/changelog.d/20241023_102416_crocodile-dentist_ledger_query_peer_snapshot.md
  ouroboros-consensus-cardano/changelog.d/20241024_182059_alexander.esgen_remove_legacy_pipelining.md
  ouroboros-consensus-cardano/changelog.d/20241028_153011_alexander.esgen_shelley_cross_era_forecasting_cleanup.md
  ouroboros-consensus-cardano/changelog.d/20241030_190550_alexander.esgen_remove_babbage_conway_hfc_tick_hack.md
  ouroboros-consensus-cardano/changelog.d/20241114_150147_crocodile-dentist.md
  ouroboros-consensus-cardano/changelog.d/20241128_174448_neilmayhew_release_srp.md
  ouroboros-consensus-cardano/changelog.d/20250107_124744_alexander.esgen_shelley_mempool_txsize_check.md
  ouroboros-consensus-cardano/changelog.d/js-resourcereg.md
  ouroboros-consensus-cardano/changelog.d/js-versions.md
  ouroboros-consensus-cardano/ouroboros-consensus-cardano.cabal
  ouroboros-consensus-diffusion/CHANGELOG.md
  ouroboros-consensus-diffusion/changelog.d/20240807_100458_alexander.esgen_milestone_1.md
  ouroboros-consensus-diffusion/changelog.d/20240927_131047_damian.nadales_1260_remove_cdbFutureBlocks.md
  ouroboros-consensus-diffusion/changelog.d/20241021_094154_coot_typed_protocols_new_api.md
  ouroboros-consensus-diffusion/changelog.d/20241120_160052_neilmayhew_release_srp.md
  ouroboros-consensus-diffusion/changelog.d/js-resourcereg.md
  ouroboros-consensus-diffusion/ouroboros-consensus-diffusion.cabal
  ouroboros-consensus-protocol/CHANGELOG.md
  ouroboros-consensus-protocol/changelog.d/20241022_125606_alexander.esgen_simplify_praos_params.md
  ouroboros-consensus-protocol/changelog.d/20241029_062000_abailly_header_validation_test.md
  ouroboros-consensus-protocol/changelog.d/20241218_141944_neilmayhew_integrate_ledger.md
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus/CHANGELOG.md
  ouroboros-consensus/changelog.d/20240807_095933_alexander.esgen_milestone_1.md
  ouroboros-consensus/changelog.d/20240927_125606_damian.nadales_1260_remove_cdbFutureBlocks.md
  ouroboros-consensus/changelog.d/20241021_094516_coot_typed_protocols_new_api.md
  ouroboros-consensus/changelog.d/20241120_160044_neilmayhew_release_srp.md
  ouroboros-consensus/changelog.d/20241128_084625_georgy.lukyanov_892_checksum_snaphot_file.md
  ouroboros-consensus/changelog.d/20241218_154808_neilmayhew_HEAD.md
  ouroboros-consensus/changelog.d/js-rawlock.md
  ouroboros-consensus/changelog.d/js-resourcereg.md
  ouroboros-consensus/ouroboros-consensus.cabal
Labels: release
